<app-navigate></app-navigate>
<p class="col-md-4">
</p>
<div class="col-md-4">
  <ngb-tabset #t="ngbTabset">
    <ngb-tab id="tab-selectbyid1" title="Create">
      <ng-template ngbTabContent>
        <fieldset [formGroup]="teacher">
          <legend>Create teacher entity</legend>
          <div class="form-group">
            <label for="inputTeacherFio">Teacher fio</label>
            <input type="text" class="form-control" id="inputTeacherFio" placeholder="Ivanov I. I." formControlName="fio">
          </div>
          <div class="form-group">
            <label for="inputExperience">Experience</label>
            <input type="number" class="form-control" id="inputExperience" placeholder="1-99" formControlName="experience">
          </div>
          <div class="form-group">
            <label for="inputStudentsNumber">Students Number</label>
            <input type="number" class="form-control" id="inputStudentsNumber" placeholder="1-99" formControlName="studentsNumber">
          </div>
          <div class="form-group">
            <label for="inputCarId">Car Id</label>
            <input type="number" class="form-control" id="inputCarId" placeholder="" formControlName="carId">
          </div>
          <button class="btn btn-primary btn-outline-secondary" placement="right" (click)="fieldChecker()" ngbPopover="Entity are added, please check" popoverTitle="Ok!">Submit</button>
        </fieldset>
      </ng-template>
    </ngb-tab>

    <ngb-tab id="tab-selectbyid2" title="Read">
      <ng-template ngbTabContent>
        <ul>
          <li *ngFor="let teacher of teachers | async">
            {{teacher.fio}}
          </li>
        </ul>
      </ng-template>
    </ngb-tab>

    <ngb-tab id="tab-selectbyid3" title="UpDate">
      <ng-template ngbTabContent>
        <!--...-->
      </ng-template>
    </ngb-tab>

    <ngb-tab id="tab-selectbyid4" title="Delete">
      <ng-template ngbTabContent>
        <!--...-->
      </ng-template>
    </ngb-tab>

  </ngb-tabset>
</div>
