<p class="col-md-5">
</p>
<div class="row col-md-12">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <ngb-tabset #t="ngbTabset">
      <ngb-tab id="tab-selectbyid1" title="{{'tabs.create' | translate}}">
        <ng-template ngbTabContent>
          <fieldset [formGroup]="carForm">
            <legend>{{'car.title' | translate}}</legend>
            <div class="form-group">
              <label for="inputCarMark">{{'car.mark' | translate}}</label>
              <input type="text" class="form-control" id="inputCarMark"
                     formControlName="mark">
            </div>
            <div class="form-group">
              <label for="inputMileage">{{'car.mileage' | translate}}</label>
              <input type="number" class="form-control" id="inputMileage"
                     formControlName="mileage">
            </div>
            <div class="form-group">
              <label for="inputRegNumber">{{'car.regNum' | translate}}</label>
              <input type="number" class="form-control" id="inputRegNumber"
                     formControlName="regNumber">
            </div>
            <button class="btn btn-primary btn-outline-secondary" (click)="fieldChecker()" ngbPopover=""
                    popoverTitle="Ok!">{{'button.add' | translate}}
            </button>
          </fieldset>
        </ng-template>
      </ngb-tab>

      <ngb-tab id="tab-selectbyid2" title="{{'tabs.read' | translate}}">
        <ng-template ngbTabContent>
          <table class="table table-striped">
            <thead>
            <tr>
              <th>{{'car.mark' | translate}}</th>
              <th>{{'car.mileage' | translate}}</th>
              <th>{{'car.regNum' | translate}}</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let car of cars | async">
              <td>{{car.mark}}</td>
              <td>{{car.mileage}}</td>
              <td>{{car.regNumber}}</td>
            </tr>
            </tbody>
          </table>
        </ng-template>
      </ngb-tab>

      <ngb-tab id="tab-selectbyid3" title="{{'tabs.update' | translate}}">
        <ng-template ngbTabContent>
          <table class="table table-striped">
            <thead>
            <tr>
              <th>{{'car.mark' | translate}}</th>
              <th>{{'car.mileage' | translate}}</th>
              <th>{{'car.regNum' | translate}}</th>
              <th>{{'button.function' | translate}}</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let car of cars | async">
              <td>{{car.mark}}</td>
              <td>{{car.mileage}}</td>
              <td>{{car.regNumber}}</td>
              <td>
                <button class="btn btn-primary btn-outline-secondary" (click)="loadUpdatedFields(car)">{{'button.update' |
                  translate}}
                </button>
              </td>
            </tr>
            </tbody>
          </table>
          <fieldset [formGroup]="carForm">
            <div class="form-group">
              <label for="updateCarMark">{{'car.mark' | translate}}</label>
              <input type="text" class="form-control" id="updateCarMark"
                     formControlName="mark">
            </div>
            <div class="form-group">
              <label for="updateMileage">{{'car.mileage' | translate}}</label>
              <input type="number" class="form-control" id="updateMileage"
                     formControlName="mileage">
            </div>
            <div class="form-group">
              <label for="updateRegNumber">{{'car.regNum' | translate}}</label>
              <input type="number" class="form-control" id="updateRegNumber"
                     formControlName="regNumber">
            </div>
            <button class="btn btn-primary btn-outline-secondary" (click)="updateEntity()">{{'button.update' |
              translate}}
            </button>
          </fieldset>
        </ng-template>
      </ngb-tab>

      <ngb-tab id="tab-selectbyid4" title="{{'tabs.delete' | translate}}">
        <ng-template ngbTabContent>
          <table class="table table-striped">
            <thead>
            <tr>
              <th>{{'car.mark' | translate}}</th>
              <th>{{'car.mileage' | translate}}</th>
              <th>{{'car.regNum' | translate}}</th>
              <th>{{'button.function' | translate}}</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let car of cars | async">
              <td>{{car.mark}}</td>
              <td>{{car.mileage}}</td>
              <td>{{car.regNumber}}</td>
              <td>
                <button class="btn btn-primary btn-outline-secondary" placement="right"
                        (click)="deleteEntity(car.$key)">{{'button.delete' | translate}}
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </ng-template>
      </ngb-tab>

    </ngb-tabset>
  </div>
</div>
